
# Git ignore files and directories

.DS_Store
node_modules/
npm-debug.log
.env
package-lock.json
tests/temp
# transformations/*.local.js
transformations/*
!transformations/example-transformations.js
!transformations/example-line-transformations.js
